name: panvimdoc

on:
  push:
    branches: [master]
    paths:
      - README.md
      - .github/workflows/panvimdoc.yml

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    name: pandoc to vimdoc
    steps:
      - uses: actions/checkout@v4

      - uses: kdheepak/panvimdoc@v4.0.1
        with:
          vimdoc: ${{ github.event.repository.name }}

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore(docs): auto-generate vimdoc [skip ci]"
          branch: master
